*{
    margin: 0;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: left; */
    padding: 50px 10%;
    gap: 50px;
    background: #f8fafc;
}
h1{
    /* padding: 0 10%; */
}
.your-cart{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 80%;
    /* padding: 0 10%; */
}
.cart-items{
    /* flex-grow: 2; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    gap: 20px;
    /* padding: 0 10%; */
    /* border: 1px solid black; */
    /* height: fit-content; */
    /* border-radius: 10px; */
}
.cart-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 10px;
    background-color: white;
    border: 1px solid white;
     border-radius: 10px;
}
.cart-item img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
}
.order-summary{
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    gap: 10px;
    justify-content: space-between;
    /* align-items: center; */
    background-color: white;
    height: 50vh;
    text-align: center;
    width: 30%;

}
.order-summary hr{
    background-color: #f5f8fb;
}


.img-cart{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
/* .name-price{
    display: flex;
    flex-direction: column;
     gap: 1px; 
} */
 .counter-price-delete{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 10px;
 }
 /* .delete{
    background-color: white;
    border: none;
width: 32px;
height:auto
 } */
.counter-price-delete img{
    width: 32px;
    height: auto;
    border: none;
}
.counter-btn{
    border: 1px solid #f1f4f8;
    padding: 4px;
    align-items: center;
    /* height: 5px; */
    border-radius: 3px;
    cursor: pointer;
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.checkOut{
    width: 100%;
    padding: 20px 0;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #ef4444;
    font-weight: 700;
    color: white;
}
.name-price p{
    color: #67748b;
}
.delete-btn{
    cursor:pointer;
}

.carti{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* padding: ; */
    height: 50vh;
}
.heade{
    justify-content: flex-start;
    padding: 0 10%;
}
#menuBtn{
    padding: 10px 20px;
    background-color: #ef4444;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    border: 1px solid white;
    border-radius: 10px;
}
.carti p{
    color: #77749a;

}
.carti h3{
    color: #334155;
}
