*{
    margin: 0;
    box-sizing: border-box;
    padding-top: 2vh;
}

body{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    /* min-height: 100vh; */
}

.carti{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding: ; */
    height: 80vh;
}
.heade{
    justify-content: flex-start;
    padding: 0 10%;
}
#menuBtn{
    padding: 10px 20px;
    background-color: #ef4444;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    border: 1px solid white;
    border-radius: 10px;
}
.carti p{
    color: #77749a;

}
.carti h3{
    color: #334155;
}
.cart-purchase{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 10%;
}
.order-summary{
    flex: 1;
}

/* Main Card */
.cart-item{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:20px;
    background:white;
    padding:15px 20px;
    border-radius:15px;   /* Rounded corners */
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
    width:700px;
    margin:40px auto;
}

/* Image */
.cart-img{
    width:70px;
    height:70px;
    border-radius:10px;
    object-fit:cover;
}

/* Info */
.cart-info{
    flex:1;
}

.cart-info h3{
    margin:0;
    font-size:18px;
}

.price-each{
    margin-top:5px;
    color:#6b7280;
}

/* Right side actions */
.cart-actions{
    display:flex;
    align-items:center;
    gap:20px;
}

/* Counter */
.counter{
    display: flex;
    align-items: center;
    gap: 15px;
    /* padding: 10px 20px; */
    /* border-radius: 30px; */
    color: black;
    font-size: 2rem;
    justify-content: center;
    /* font-size: 20px; */
}

.counter button{
    /* background: linear-gradient(45deg,#00c6ff,#7b2cff); */
    border: none;
    color: white;
    font-size: 20px;
    padding: 5px 12px;
    border-radius: 10px;
    cursor: pointer;
}


.minus,
.plus{
    border: 1px solid black;
    background-color: #ef4444;
    /* height: 2rem; */
}



/* Delete button */
.delete{
    border:none;
    background:none;
    font-size:18px;
    color:red;
    cursor:pointer;
}
